# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/

# Envs
.env
.env.*
*.local

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vite
.vite/

# Logs
*.log

# Coverage
coverage/
